{{> search_area }}

{{!-- Search Results --}}
<div class="container mt-3">
    {{#if results}}
        <h4>Showing results for "{{search}}":</h4>
    {{/if}}
    <div class="mt-3 d-flex flex-wrap justify-content-center" style="gap:1rem;">
    {{#each results}}
        <div class="card" style="width:18rem;">
            <img class="card-img-top" src="{{recipe.image}}" alt="">
            <div class="card-body">
                {{!-- <h5 class="card-title">{{recipe.label}}</h5> --}}
                <a href="/recipe?ID={{recipe.recipeID}}"><h5 class="card-title">{{recipe.label}}</h5></a>
                <div class="d-flex" style="column-gap:0.25rem;">
                {{#each recipe.tags}}
                    <span class="badge badge-primary">{{this}}</span>
                {{/each}}
                </div>
            </div>
        </div>
    {{/each}}
    </div>
</div>